## Ejercicios de la practica 2 - Variables

1. Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 34
print(a)

34

2. Imprimir el tipo de dato de la constante 8.5

In [2]:
print('La constante impresa es ', 8.5)

La constante impresa es  8.5

3. Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4. Crear una variable que contenga tu nombre

In [5]:
mi_nombre = 'Fernando'

5. Crear una variable que contenga un número complejo

In [8]:
num_5 = 4 + 55j

6. Mostrar el tipo de dato de la variable creada en el punto 5

In [10]:
type(num_5)

complex

7. Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [13]:
pi = 3.1416

8. Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [16]:
c = True
d = 'True'

9. Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [17]:
print(type(c))
print(type(d))

<class 'bool'>
<class 'str'>

10. Asignar a una variable, la suma de un número entero y otro decimal

In [18]:
f = 8 + 3.2

11. Realizar una operación de suma de números complejos

In [20]:
a = 3 + 4j
b = 1 + 2J
c = a + b

print('El resultado de la suma de ', a,'mas ', b,'es: ', c)

El resultado de la suma de  (3+4j) mas  (1+2j) es:  (4+6j)

12. Realizar una operación de suma de un número real y otro complejo

In [21]:
e = 23
f = 2 + 5j
g = e + f

print('La suma de ', e,'mas ', f,'es ',g )

La suma de  23 mas  (2+5j) es  (25+5j)

13. Realizar una operación de multiplicación

In [23]:
m = 3 * 4

m

12

14. Mostrar el resultado de elevar 2 a la octava potencia

In [24]:
p = 2**8
print(p)

256

15. Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [27]:
d = 27 / 4

print('El cociente es ', d)

El cociente es  6.75

16. De la división anterior solamente mostrar la parte entera

In [28]:
print(int(d))

6

17. De la división de 27 entre 4 mostrar solamente el resto

In [29]:
r = 27 % 4

print(r)

3

18. Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [30]:
resultado = (4 * int(d)) + r

resultado

27

19. Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [31]:
aa = '4'
bb = 'numero '

cc = bb + aa 

cc

'numero 4'

20. Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [32]:
a = "2"
b = 2

c = a == b

c

False

21. Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [33]:
print(int(a) == b)

True

22. ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [34]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23. Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [35]:
p = 3
p -= 1

p

2

24. Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [36]:
n = 1 << 2

n

4

25. Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [38]:
print(type(2))
print(type('2'))

<class 'int'>
<class 'str'>

26. Realizar una operación válida entre valores de tipo entero y string

In [39]:
s = 'Hola '
print(4 * s)

Hola Hola Hola Hola